{% extends 'views_html/base.html' %}

{% load static %}

{% block contenido %}
<main class="main"></main>

    <!-- Estructura Carrusel -->
    <div class="col-sm-12">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'img\tienda_tano.png' %}" class="d-lg-block w-100 mx-auto">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img\tienda_mascotas.png' %}" class="d-lg-block w-100 mx-auto">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img\tienda_jugos.png' %}" class="d-lg-block w-100 mx-auto">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Siguiente</span>
            </button>
        </div>
    </div>

    <!-- Linea separadora -->
    <div class="container">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10"></div>
            <div class="hr">
                <hr size="8px">
            </div>
        </div>
    </div>


{% endblock %}