{% extends 'views_html/base.html' %} 
{% load static %} 
{% block contenido %}
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for elemento in listadoProductos %}
        <div class="col">
            <div class="card h-100">
              <img src="{{ elemento.urlimage }}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ elemento.nombre }}</h5>
                <p class="card-text">{{ elemento.descripcion }}</p>
                <p class="card-text"><small class="text-muted">TIENDA "{{ elemento.nombrePyme }}"</small></p>
                <p class="card-text">$ {{ elemento.precio}}</p>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
</div> 
{% endblock %}
