{% extends 'views_html/base.html' %}

{% load static %}

{% block contenido %}
    <div class="contenedor__todo" style="margin-top: 150px;">
        <div class="caja__trasera">
            <div class="caja__trasera-login">
                <h3>&#191;Ya tienes una cuenta?</h3>
                <p>Inicia sesi&oacuten para entrar en la p&aacutegina.</p>
                <button id="btn__iniciar-sesion">Inicia sesi&oacuten</button>
            </div>
            <div class="caja__trasera-register">
                <h3>&#191;A&uacuten no tienes una cuenta?</h3>
                <p>Reg&iacutestrate para que puedas iniciar sesi&oacuten.</p>
                <button id="btn__registrarse">Reg&iacutestrarse</button>
            </div>
        </div>

            <!--Formulario de Login y registro-->
            <div class="contenedor__login-register">
                <!--Login-->
                <form action="" method="POST" id="form" class="formulario__login">
                    {% csrf_token %}
                    <h2>Iniciar Sesi&oacuten</h2>
                    <input type="email" id="emailtext" placeholder="Correo Electronico" required>
                    <input type="password" id="passtext" placeholder="Contrase&ntilde;a" required>
                    <button onclick="validarInicio()" type="submit">Entrar</button>
                </form>

                <!--Register-->
                <form action="" class="formulario__register">
                    <h2>Reg&iacutestrarse</h2>
                    <input type="text" placeholder="Nombre completo" required>
                    <input type="email" placeholder="Correo Electronico" required>
                    <input type="text" placeholder="Usuario" required>
                    <input type="password" placeholder="Contrase&ntilde;a" required>
                    <button>Reg&iacutestrarse</button>
                </form>
            </div>
        </div>

        <script src="{% static 'js/register.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css\style_register.css' %}">

    

{% endblock %}